.plugin-select-element-container {
    list-style: none !important;
    margin: 0 !important;
    padding: 0.3em 0 !important;
    border-radius: 0.4em;
    background: #fff;
    overflow-y: auto;
    z-index: 10;
    box-shadow: 0 2px 15px -1px #959595;
    box-sizing: border-box;
    max-height: 15rem;
}

.plugin-select-element-item, .plugin-select-element-item:hover {
    padding: 0.4em 2em 0.4em 2em;
    cursor: pointer;
}

.plugin-select-element-item:hover {
    background: #eeeeee;
}

.plugin-select-element-item-selected {
    background: #b5beee;
}